<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/general.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script src="/public/jquery.js"></script>
    <script src="/public/interface.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="welcome"> <h2> Welcome to MakersBNB <h2> </div>

      <div class="welcome2">       </div>
      <%= message %>
      <button class="button" id="add_place_button"> Add a place </button>

      <script type='text/javascript'>
      $( document ).ready(function() {
        $('#add_place_button').click(function() {
          $('.welcome2').text("YO!!!");
        });
      })
      </script>

  <form class="form" action="/" method="post">
    <p2> Add a place: </p2>
    <input type="text" name="listingname" placeholder="listingname" class="single_form_window">
    <input type="text" name="listinglocation" placeholder="location" class="single_form_window">
    <input type="text" name="listingprice" placeholder="price" class="single_form_window">
    <input type="text" name="listingdescription" placeholder='description' class="single_form_window description">
    <input type="submit" value="submit">
  </form>

  <div class="listings">

      <% for (i = 0; i < x.length; i++) { %>
      <div class="single_listing">
      <h1><%= x[i].name %></h1> <br>
      <div class="details">
      <p3> <%= x[i].location %> </p3> <br>
      <p2>  <%= x[i].description %>  </p2> <br>
      <p4>  £<%= x[i].price %> </p4> <br>
    </div>
      </div>
      <% } %>

  </div>

  </body>
</html>
