Hello from MakersBNB

<form action='/' method='post'>
  <input type='text' name='Name' placeholder='name'> <br>
  <input type='text' name='Phone' placeholder='phone number'> <br>
  <input type='text' name='City' placeholder='city'> <br>
  <input type='text' name='Price_per_night' placeholder='price per night'> <br>
  <textarea name="Description" placeholder='description'></textarea> <br>
  <input type='submit' value='Add Property!'>
</form>

  <%= session[:name] %> <br>
  <%= session[:phone] %> <br>
  <%= session[:city] %> <br>
  <%= session[:price_per_night] %> <br>
  <%= session[:description] %>
